# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/

# Rope project settings
.ropeproject
